<!DOCTYPE html>

<html lang="en" class="bg">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
          <title>Raadsel | About me</title>
            <!--discord embed things-->
        <meta property="og:title" content="Raadsel's website!"> 
        <meta property="og:image" content="https://i.imgur.com/wC8SnIV.png"> 
        <meta property="og:description" content="The personal website of Raadsel!"> 
        <meta name="theme-color" content="#0079F2"> 
        <meta name="description" content="The personal website of Raadsel!">

    </head>

    <body class="bg">
        <div class="content">
            <center><h1 style="color: #7aa2f7;">404</h1></center>
            <ul>
                <li>
                    The {{id}} URL you visited has not been found!<br>
                    This means the link never existed or got deleted!
                </li>
    
            </ul>
            <div class="il">
                <br>
                <ul>
                    <li class="inline-list">
                        <button onclick=window.open("/","_self") class='button'>Home</button> 
                    </li>
                  
                </ul>
            </div>
        </div>
    </body>
</html>