<!-- Some backend Code from https://dev.to/mistval/discord-webhook-powered-contact-form-3lk6 -->
<!--1st time I used repit auth-->
<!doctype html>
<html>
<head>
	<title>Raadsel | Contact</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
<script src="https://replit.com/public/js/repl-auth-v2.js"></script>
</head>
<body>
	{% if user_id %}
	
  <head>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Raadsel | Contact</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
  </head>
  <body class="bg">
    <div class="card">
    <h1>Hello, {{ user_name }}!</h1>
	  <p>Your user id is '{{ user_id }}'. This will be logged incase you try to spam messages!</p>
      <style>
        .disallowd:hover {
          cursor: not-allowed;
        }
      </style>
  <body class="container mt-5">
    <form onsubmit="sendContact(event)">
      <div class="mb-3">
        <center>
        <label for="username" class="form-label">Replit Username</label>
        <input type="name" class="form-control disallowd" type='text' name='s-name' value='{{user_name}}' disabled>
        <label for="id" class="form-label">Replit ID</label>
        <input type="id" class="form-control disallowd" type='text' name='s-id' value='{{user_id}}' disabled>
        <label for="emailInput" class="form-label">Enter your email address</label>
        <input type="email" class="form-control" id="emailInput">
      </div>
      <div class="mb-3">
        <label for="messageInput" class="form-label">Enter your message</label>
        <textarea class="form-control" id="messageInput" rows="5" cols="65"></textarea> <br>
        <button type="submit" class="button">Submit</button>
      </div>
      
      
    </form>
      <button onclick=window.open("/","_self") class='recht'>Home</button>
    </div>
     </div>
    <script>
       console.log('Contact page script succesfully loaded!')
        /*if ([7141650].includes({{user_id}})) {  //<-- ban thing I guess
          alert('You have been banned from contacting me this way!')
          window.open('/', "_self")
        }
        */
       async function sendContact(ev) {
        ev.preventDefault();

        const senderEmail = document
          .getElementById('emailInput').value;
        const senderMessage = document
          .getElementById('messageInput').value;
        const id = {{user_id}}
        const id2 = '{{user_name}}'
        const id3 = '{{user_url}}'
        const webhookBody = {
          embeds: [{
            title: 'Contact Form Submitted',
            fields: [
              { name: 'Sender', value: senderEmail },
              { name: 'Message', value: senderMessage },
              { name: 'Replit info:', value: '**ID:** `'+id+'`\n**Username:** [{{user_name}}](https://replit.com/@{{user_name}})'}
            ]
          }],
        };

        const webhookUrl = 'https://discord.com/api/webhooks/1017160176475852861/156KKJ_MWYDjeZ47ZJAfLU7U9EfRhKbeZHVgkVvWzVVEloLnystHRqM0T3MDIlwXlfRn'; //please dont abuse this because I wasnt able to use secret

        const response = await fetch(webhookUrl, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(webhookBody),
        });

        if (response.ok) {
          alert('I have received your message! Please remember to don\'t spam messages. It is annoying and I will just ban your IP or your userID.'); /* After some time I decided to not log the IP and just use repl auth */
          window.open('/contact/succes', '_self')
        } else {
          alert('There was an error! Try again later!');
          window.open('/contact/fail', '_self')
        }
      }
    </script>
    </script>
  </body>
</body>
</html>

	{% else %}
    <html lang="en" class="bg">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
        <title>Raadsel | Contact - Login</title>
    </head>
      <style>
        .red {
          background-color: #EC4431;
        }
        .red:hover {
          background-color: #F19085;
      </style>
    <body class="bg">
        <div class="card">
            <img src="https://i.imgur.com/wC8SnIV.png" style="border-radius: 20%">
            <h1 style="color: #7aa2f7;"><span title="If you don't have Replit you will have to make a replit account. Or you can't message me. ">Please authenticate!</span></h1>
            <p>	Before sending a message, please authenticate via Replit.
Authenticating via Replit is required to avoid spam.<br></p>
          
          		<button class='button' onclick="LoginWithReplit()"> Login </button> | 
          <button class='button red' onclick=window.open('/about', '_self')>Back</button>
              
          

        </div>
	{% endif %}
</body>
</html>
