<!DOCTYPE html>

<html lang="en" class="bg">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
          <title>Raadsel | About me</title>
    </head>

    <body class="bg">
        <div class="content">
            <h1 style="color: #7aa2f7;">About Me</h1>
            <ul>
                <li>
                    I'm a NodeJS, Python, Web, discord bot and minecraft plugin programmer creating all sorts of random stuff. <br>
                   I usually code on <a href="https://replit.com/@Raadsel">Replit</a>
                    I love coding with Python and NodeJS and I love mountainbiking!
                </li>
                <li>
                </li>
                <li>
                    <br>
                    You can find some of my projects <a href="projects">here</a><br>
                    If you want to get in contact with me. Press the 'Contact' button.
                </li>
            </ul>
            <div class="il">
                <br>
                <ul>
                    <li class="inline-list">
                        <button onclick=window.open("/","_self") class='button'>Home</button> | 
                    </li>
                    <li class="inline-list">
                        <button onclick=window.open("/projects","_self") class='button'>Projects</button> | 
                    </li>
                    <li class="inline-list">
                        <button onclick=window.open("/contact","_self") class='button'>Contact</button> 
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>