<!DOCTYPE html>
<html lang="en" class="bg">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
        <title>Raadsel | Home!</title>
      
            <!--discord embed things-->
        <meta property="og:title" content="Raadsel's website!"> 
        <meta property="og:image" content="https://i.imgur.com/wC8SnIV.png"> 
        <meta property="og:description" content="The personal website of Raadsel!"> 
        <meta name="theme-color" content="#0079F2"> 
        <meta name="description" content="The personal website of Raadsel!">

    </head>
<noscript><h2>Javascript is disabled in your browser.</h2></noscript>
    <!--Time script-->
<body>
   
<div id="timething">
    <img src="{{ url_for('static', filename='assets/Empty.png') }}" title="This changes with your time!
Fun fact: If you press this the domain will change but the website won't!" id='img' alt="time image" onclick='window.open(randomlink(), "_self")'/>
</div>

</body>

<script type="text/javascript"> 
if(window.location.href === 'https://raadsel.is-a-good.dev/') {arr = ['https://raadsel.is-a.dev', 'https://raadsel.is-not-a.dev']
  console.log('is-a-good.dev')} 
  
if(window.location.href === 'https://raadsel.is-a.dev/') {
  arr = ['https://raadsel.is-a-good.dev', 'https://raadsel.is-not-a.dev']
  console.log('is-a.dev')} 
  
if(window.location.href === 'https://raadsel.is-not-a.dev/') {arr = ['https://raadsel.is-a.dev', 'https://raadsel.is-a-good.dev/']
  console.log('is-not-a.dev')} 
//else {arr = ['raadsel.is-a.dev', 'raadsel.is-not-a.dev', 'raadsel.is-a-good.dev']}
  
function randomlink() {
    return arr[Math.floor(arr.length * Math.random())];
}

var currentTime = new Date().getHours();
console.log('Current time in hours: '+currentTime)
if (true) {
    
    if (7 <= currentTime && currentTime < 20) {
        console.log('Day')
        var image = document.getElementById('img')
        image.src = "/static/assets/sun.png";
    }
    else {
        console.log('evening/night')
        var image = document.getElementById('img')
        image.src = "/static/assets/moon.png";
    }
}

</script>
  <!--Time script-->
  
    <body class="bg">
        <div class="card">
            <img class='pointmouse' title='CLICK ME!!!!' onclick='window.open(randomlink(), "_self")'src="https://i.imgur.com/wC8SnIV.png" style="border-radius: 20%" alt='Raadsels profile picture!'>
            <h1 style="color: #7aa2f7;"><span title="General kenobi..">Hello There!</span></h1>
            <p>I like doing random coding stuff with NodeJS & Python, and I like dogs.</p>
          <label for="favcolor">My favorite color is Perano</label>
          <input type="color" id="favcolor" name="favcolor" value="#c0caf5">

          
            <ul>
                <li class="inline-list">
                    <button onclick=window.open("about","_self") class='button'>About me</button> |
                </li>
                <li class="inline-list">
                    <button onclick=window.open("projects","_self") class='button'>Projects</button> |
                </li>
                <li class="inline-list">
                    <button onclick=window.open("whatsthis") class='button'>What's this?</button> <!--I dunno,  I think you gotta see this for yourself! -->
                </li>
            </ul>
        </div>
    </body>
</html>
<!--Visitor counter-->
<html lang='en'>
  <body class="visitcounter">
    <div class='visitcounter'>
<script type="text/javascript" src="https://www.counters-free.net/count/bchd"></script><br>
 <a href='http://www.counter-zaehler.de'>counter skript</a> <script type='text/javascript' src='https://www.whomania.com/ctr?id=ee79d44197905bffb70e446da81704ff3c92b751'></script>
        </body>
      </body>
    </div>
</html>
<!--Made by Raadsel. View LICENSE-->