<!DOCTYPE html>

<html lang="en" class="bg">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <title>Raadsel | Projects</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">

            <!--discord embed things-->
        <meta property="og:title" content="Raadsel's website!"> 
        <meta property="og:image" content="https://i.imgur.com/wC8SnIV.png"> 
        <meta property="og:description" content="The personal website of Raadsel!! | Project page"> 
        <meta name="theme-color" content="#0079F2"> 
        <meta name="description" content="The personal website of Raadsel! | Project page">
    </head>

    <body class="bg">
        <div class="content">
          <center><h1 style="color: #7aa2f7;"><span title="These are not all of them!">My personal projects!</span></h1></center>
            <ul>
                <li>
                    <a href="https://replit.com/@Raadsel/Replit-Creates-portfolio?v=1">replit creates portfolio</a> - A portfolio for the projects I made for replit creates.
                </li>
                <li>
                   <a href="https://replit.com/@Raadsel/Website-Spammer?v=1">Website spammer</a> - A random website to spam a lot of tabs
                </li>
                <li>
                    <a href="https://i.rdsl.ga">RDSL CDN</a> - This was one of the first times I used POST API's. This is a CDN using a API from <a href="https://replit.com/@ironcladdev">IronCladDev</a> 
                </li>
                <li>
                    <a href="https://rdsl.ga/r">RDSL Shortener/lengthener</a> - A simple URL shortener and lengthener.
                </li>
                <li>
                    <a href="https://up.rdsl.ga/">Replit uptimer</a> - A pinger to keep your Repls alive!
                </li>
              <li>
                    <a href="https://replit.com/@Raadsel/Emoji-crypt?v=1">Emoji Crypt</a> - A console program which translates your text to emojis
              </li>
              <li>
                    <a href="https://replit.com/@Raadsel/Discord-Status-bot">Discord Status bot</a> - A simple easy to use program to change the status of your Discord bot!
              </li>
              <a href="https://replit.com/@Raadsel">And more</a>
              <br>
              <p>If you like any of these project, consider tipping me at the bottom-right!</p>
            </ul>
            <div class="il">
                <br>
                <ul>
                    <li class="inline-list">
                        <button onclick=window.open("/","_self") class='button'>Home</button> | 
                    </li>
                    <li class="inline-list">
                        <button onclick=window.open("about","_self") class='button'>About me</button> 
                    </li>
                </ul>
            </div>
          <script async src="https://zink.tips/zwc.js?rid=6341ce73d38c12e2b604bcc5&c=blue"></script>
        </div>
    </body>
</html>