<!DOCTYPE html>

<html lang="en" class="bg">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
        <title>Raadsel | Succes!</title>
    </head>
<noscript><h2>Javascript is disabled in your browser.</h2></noscript>
    <body class="bg">
        <div class="card">
            <img src="https://i.imgur.com/wC8SnIV.png" style="border-radius: 20%">
            <h1 style="color: #7aa2f7;">Succes</h1>
            <p>Your message has been succesfully received</p>
            <ul>
                <li class="inline-list">
                    <button onclick=window.open("/","_self") class='button'>Home</button>
                </li>
            </ul>
        </div>
    </body>
</html>
