<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

            <!--discord embed things-->
  <meta property="og:title" content="Raadsel's website!"> 
  <meta property="og:image" content="https://i.imgur.com/wC8SnIV.png"> 
  <meta property="og:description" content="What would this be??!"> 
  <meta name="theme-color" content="#0079F2"> 
  <meta name="description" content="What would this be??!!">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Refresh" content="0; url='https://bit.ly/Gratis-pc'" />
<!--What would it be????-->
  
  <title>L</title>
</head>
<body>
  <p>RIP BOZO</p>
</body>
</html>


