<!--code from https://github.com/ScaleDrone/javascript-chat-room-tutorial-->

<!--https://dashboard.scaledrone.com/channels/Oxgjxq7sdwYxoVkr-->
<!DOCTYPE html>
<html>
<head>
  <title>Cijfers - Magister</title>
  <link rel="icon" type="image/x-icon" href="https://chrlyceumdelft.magister.net/magister/assets/images/appicon-2.png">
  <script type='text/javascript' src='https://cdn.scaledrone.com/scaledrone.min.js'></script>
  <!--<script type='text/javascript' src='http://0.0.0.0:8080/scaledrone.js'></script>-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

      <!--embed thins-->
  <meta property="og:title" content="Raadsel's website!"> 
  <meta property="og:image" content="https://i.imgur.com/wC8SnIV.png"> 
  <meta property="og:description" content="A unblocked chat for school!"> 
  <meta name="theme-color" content="#0079F2"> 
  <meta name="description" content="A unblocked chat for school!">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/chatcss.css') }}">
</head>
<body>
  <div class="members-count">-</div>
  <div class="members-list">-</div>
  <div class="messages"></div>
  <form class="message-form" onsubmit="return false;">
    <input class="message-form__input" placeholder="Typ een bericht.." type="text"/>
    <input class="message-form__button button button1" value="Stuur" type="submit"/>
    <button class='recht' onclick=window.open("/school","_self") >Home</button> 
  </form>
  <script src="{{ url_for('static', filename='js/schoolchat.js') }}"></script>
  <center><p>Dit is een under cover chat. Als favicon en titel heb ik magister gedaan -- Gemaakt door Raadsel (c)</p></center>


</div>

</body>
</html>
