<!DOCTYPE html>

<html lang="nl" class="bg">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
       <script  src="{{ url_for('static', filename='js/schoolscript.js') }}"></script>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
        <title>Raadsel | School-Home!</title>

            <!--discord embed things-->
        <meta property="og:title" content="Raadsel's website!"> 
        <meta property="og:image" content="https://i.imgur.com/wC8SnIV.png"> 
        <meta property="og:description" content="he homepage for all the schoolstuff on Raadsel's website!"> 
        <meta name="theme-color" content="#0079F2"> 
        <meta name="description" content="The homepage for all the schoolstuff on Raadsel's website!">
      
    </head>
<noscript><h2>Javascript is disabled in your browser.</h2></noscript>
<body>
<div id="timething">
    <img src="{{ url_for('static', filename='assets/Empty.png') }}" title="This changes with your time!
Fun fact: If you press this the domain will change but the website won't!" id='img' alt="time image" onclick='window.open(randomlink(), "_self")'/>
</div>

</body>

<script type="text/javascript"> 

//else {arr = ['raadsel.is-a.dev', 'raadsel.is-not-a.dev', 'raadsel.is-a-good.dev']}
  
function randomlink() {
    if(window.location.href === 'https://raadsel.is-a-good.dev/school/') {
    arr = ['https://raadsel.is-a.dev/school/', 'https://raadsel.is-not-a.dev/school/']
    console.log('is-a-good.dev/school/')
    return arr[Math.floor(arr.length * Math.random())];
    } 
    
    if(window.location.href === 'https://raadsel.is-a.dev/school/') {
    arr = ['https://raadsel.is-a-good.dev/school/', 'https://raadsel.is-not-a.dev/school/']
    console.log('is-a.dev/school/')
    return arr[Math.floor(arr.length * Math.random())];
    } 
    
    if(window.location.href === 'https://raadsel.is-not-a.dev/school/') {
    arr = ['https://raadsel.is-a.dev/school/', 'https://raadsel.is-a-good.dev/school/']
    console.log('is-not-a.dev/school/')
    return arr[Math.floor(arr.length * Math.random())];
    } 
    else {
      arr = ['https://raadsel.is-a.dev/school/', 'https://raadsel.is-a-good.dev/school/', 'https://raadsel.is-noy-a.dev/school/']
      console.log('else')
      return arr[Math.floor(arr.length * Math.random())];
    }
}

var currentTime = new Date().getHours();
console.log('Current time in hours: '+currentTime)
if (true) {
    
    if (7 <= currentTime && currentTime < 20) {
        console.log('Day')
        var image = document.getElementById('img')
        image.src = "/static/assets/sun.png";
    }
    else {
        console.log('evening/night')
        var image = document.getElementById('img')
        image.src = "/static/assets/moon.png";
    }
}

</script>
  <!--Time script-->

  
    <body class="bg">
        <div class="card">
            <img src="https://i.imgur.com/wC8SnIV.png" style="border-radius: 20%" alt="Raadsels profile picture" class='pointmouse' title='CLICK ME!!!!' onclick='window.open(randomlink(), "_self")'>
            <h1 style="color: #7aa2f7;"><span title="Generaal Kenobi.. (heel slecht want het is een Nederlandse zin dus klopt ie echt niet... ik weet het D: )">Hallo daar!</span></h1>
            <p>Dit is het school portaal met alle links enzo.</p>

            <ul>
                <li class="inline-list">
                    <button onclick='window.open("/school/calc","_self")' class='button'>Rekenmachine</button> |
                </li>
                <li class="inline-list">
                    <button onclick=openschooltabs() class='button'>Open alle school tabs</button> |
                </li>
                <li class="inline-list">
                    <button onclick='window.open("/school/chat", "_self")' class="button">school chat</button> |
                </li>
                <li class="inline-list">
<button onclick=window.open("https://www.sites.google.com/site/unblockedgameswtf/") class='button'>Wat is dit?</button> <!--I dunno,  I think you gotta see this for yourself! -->
                </li>

            </ul>
        </div>
    </body>
  </body>
</html>
<html lang='en'>
  <body class="visitcounter">
    <div class='visitcounter'>
<script type="text/javascript" src="https://www.counters-free.net/count/bcwd"></script><br>
 </script>
                 <!--Visitor counter-->
        </body>
</div>
</html>